<!-- Header -->
<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Locker
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header >
  </ion-header>

<br>
  <ion-content>
    <!-- Text followed by the button for navigation to cars page -->
    <ion-title>The car you are driving is a {{myCar}}</ion-title> 
    <ion-button [routerLink]="['/car']">change car</ion-button>
    <br> <br> <br> <br>
    <ion-content>
      <!-- Texr followed by the button to the details page -->
      <ion-title>Fill in your details below </ion-title> 
      <ion-button [routerLink]="['/details']">Enter details</ion-button>
  </ion-content>

  </ion-content>
